<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Forms</display-name>
  
   <servlet>
      <servlet-name>Form Servlet</servlet-name>
      <servlet-class>com.form.RegisterFormServlet</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>Success Servlet</servlet-name>
      <servlet-class>com.form.SuccessServlet</servlet-class>
   </servlet>
  
   <servlet-mapping>
       <servlet-name>Form Servlet</servlet-name>
       <url-pattern>/RegisterServlet</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
       <servlet-name>Success Servlet</servlet-name>
       <url-pattern>/success</url-pattern>
   </servlet-mapping>


  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>home.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>